# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
airflow_venv/
venv/
env/
ENV/

# Airflow
airflow.db
airflow-webserver.pid
airflow.cfg
standalone_admin_password.txt
logs/
*.log
webserver_config.py

# Data files (ne pas pousser les données)
data/backup/
data/*.parquet
data/*.csv
data/backtest_results/
*.parquet
*.csv

# Spark
metastore_db/
spark-warehouse/
derby.log

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Elasticsearch
.env

